In [1]:
import pandas as pd

In [2]:
df1 = pd.read_csv("https://github.com/plotly/datasets/raw/master/diabetes.csv")

In [3]:
df1.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [4]:
df1.tail()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
763,10,101,76,48,180,32.9,0.171,63,0
764,2,122,70,27,0,36.8,0.340,27,0
765,5,121,72,23,112,26.2,0.245,30,0
766,1,126,60,0,0,30.1,0.349,47,1
767,1,93,70,31,0,30.4,0.315,23,0

In [5]:
df1.describe()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,120.894531,69.105469,20.536458,79.799479,31.992578,0.471876,33.240885,0.348958
std,3.369578,31.972618,19.355807,15.952218,115.244002,7.884160,0.331329,11.760232,0.476951
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.300000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,30.500000,32.000000,0.372500,29.000000,0.000000
75%,6.000000,140.250000,80.000000,32.000000,127.250000,36.600000,0.626250,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

In [7]:
df1.dtypes

Pregnancies                   int64
Glucose                       int64
BloodPressure                 int64
SkinThickness                 int64
Insulin                       int64
BMI                         float64
DiabetesPedigreeFunction    float64
Age                           int64
Outcome                       int64
dtype: object

In [8]:
df2 = pd.read_csv("https://github.com/plotly/datasets/raw/master/diabetes.csv", header=None, skiprows=[1,5,6],)

In [9]:
df2

,0,1,2,3,4,5,6,7,8
0,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,3,78,50,32,88,31,0.248,26,1
...,...,...,...,...,...,...,...,...,...
761,10,101,76,48,180,32.9,0.171,63,0
762,2,122,70,27,0,36.8,0.34,27,0
763,5,121,72,23,112,26.2,0.245,30,0
764,1,126,60,0,0,30.1,0.349,47,1
765,1,93,70,31,0,30.4,0.315,23,0

In [10]:
df1

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1
...,...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63,0
764,2,122,70,27,0,36.8,0.340,27,0
765,5,121,72,23,112,26.2,0.245,30,0
766,1,126,60,0,0,30.1,0.349,47,1
767,1,93,70,31,0,30.4,0.315,23,0

In [11]:
df1.to_csv('file1.csv')

In [13]:
df1.to_csv('file2.csv',sep='#')

In [15]:
df1[df1.dtypes[df1.dtypes=='float64'].index]

      BMI  DiabetesPedigreeFunction
0    33.6                     0.627
1    26.6                     0.351
2    23.3                     0.672
3    28.1                     0.167
4    43.1                     2.288
..    ...                       ...
763  32.9                     0.171
764  36.8                     0.340
765  26.2                     0.245
766  30.1                     0.349
767  30.4                     0.315

[768 rows x 2 columns]

In [18]:
df1[df1.dtypes[df1.dtypes=='float64'].index].describe()

              BMI  DiabetesPedigreeFunction
count  768.000000                768.000000
mean    31.992578                  0.471876
std      7.884160                  0.331329
min      0.000000                  0.078000
25%     27.300000                  0.243750
50%     32.000000                  0.372500
75%     36.600000                  0.626250
max     67.100000                  2.420000

In [19]:
df1.columns

Index(['Pregnancies', 'Glucose', 'BloodPressure', 'SkinThickness', 'Insulin',
       'BMI', 'DiabetesPedigreeFunction', 'Age', 'Outcome'],
      dtype='object')

In [23]:
pd.Categorical(df1['Outcome'])

[1, 0, 1, 0, 1, ..., 0, 0, 0, 1, 0]
Length: 768
Categories (2, int64): [0, 1]

In [25]:
df2 = pd.read_csv("https://github.com/plotly/datasets/raw/master/diabetes.csv", header=None, names=['a','b','c','d','e','f','g','h','i'])

In [26]:
df2

,a,b,c,d,e,f,g,h,i
0,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
1,6,148,72,35,0,33.6,0.627,50,1
2,1,85,66,29,0,26.6,0.351,31,0
3,8,183,64,0,0,23.3,0.672,32,1
4,1,89,66,23,94,28.1,0.167,21,0
...,...,...,...,...,...,...,...,...,...
764,10,101,76,48,180,32.9,0.171,63,0
765,2,122,70,27,0,36.8,0.34,27,0
766,5,121,72,23,112,26.2,0.245,30,0
767,1,126,60,0,0,30.1,0.349,47,1
768,1,93,70,31,0,30.4,0.315,23,0

In [27]:
type(df1.dtypes)

pandas.core.series.Series

In [28]:
dy = df1.dtypes

In [29]:
dy['BMI']

dtype('float64')

In [30]:
dy

Pregnancies                   int64
Glucose                       int64
BloodPressure                 int64
SkinThickness                 int64
Insulin                       int64
BMI                         float64
DiabetesPedigreeFunction    float64
Age                           int64
Outcome                       int64
dtype: object

In [31]:
dy[2]

dtype('int64')

In [32]:
dy[0:4]

Pregnancies      int64
Glucose          int64
BloodPressure    int64
SkinThickness    int64
dtype: object

In [33]:
type(df1['BMI'])

pandas.core.series.Series

In [34]:
type(df1[['BMI']])

pandas.core.frame.DataFrame

In [35]:
df1['BMI']

0      33.6
1      26.6
2      23.3
3      28.1
4      43.1
       ...
763    32.9
764    36.8
765    26.2
766    30.1
767    30.4
Name: BMI, Length: 768, dtype: float64

In [36]:
df1[['BMI']]

      BMI
0    33.6
1    26.6
2    23.3
3    28.1
4    43.1
..    ...
763  32.9
764  36.8
765  26.2
766  30.1
767  30.4

[768 rows x 1 columns]